.icons { background-color: #fff; display: flex; justify-content: center;
    // .wrapper { padding-right: 290px; }
    article { padding-top: 93px; padding-bottom: 90px; display: flex; justify-content: flex-start; flex-wrap: wrap; }
    .icon {
        &:nth-child(2n+2) {
            img { @include brand-svg-color; }
        }
    }
}