.icons { background-color: #fff; display: flex; justify-content: center;
    article { padding-top: 93px; padding-bottom: 90px; display: flex; justify-content: flex-start; flex-wrap: wrap; }
    .icon { flex: 1 0 211px; 
        &:nth-child(2n+2) {
            img { @include brand-svg-color; }
        }
    }
}