body { background-color: #fff; color: #000; font-family: 'Muli', 'sans-serif'; font-weight: 700; max-width: 100vw; padding: 0; margin: 0; } 

.container { width: 100%; margin: 0; padding: 0; top: 0; left: 0; bottom: 0; right: 0; }

.wrapper { padding-right: 34rem; padding-left: 34rem; 
    @include bp(phablet) { padding: 1rem; }
}
