//COLORS
$brand_color: #6764cb;

$typical_letter_spacing             : 0.01em;
$standard_letter_spacing            : 0.02em;
$standard_neg_letter_spacing        : -0.01em;
$header_letter_spacing              : 0.03em;
$normal_letter_spacing              : 0.011em;
$neg_letter_spacing                 : -0.005em;

//TIMES
$duration_default                 : 300ms;
$duration_slow                    : 900ms;
$duration_fast                    : 100ms;


//TRANSITIONS
$transition_default               : all $duration_default ease;
$transition_slow                  : all $duration_slow ease;
$transition_fast                  : all $duration_fast ease;

//BREAKPOINTS
$breakpoints : (
    mobile-s : 320,
    mobile : 375,
    mobile-l : 410,
    phablet : 520,
    portrait : 768,
    tablet : 1024,
    laptop-s : 1280,
    laptop : 1366,
    laptop-l: 1440,
    desktop: 1680,
    hd-desktop: 1920
);