$burger_height                    : 2.5rem;
$burger_width                     : 3.5rem;
$burger_line_height               : 0.5rem;
$burger_padding					  : 0.5rem; 

$mobile_burger_height			  : 25px;
$mobile_burger_width			  : 35px;
$mobile_burger_line_height		  : 5px;
$mobile_burger_padding		      : 5px;

.burger { @include burger-squeeze; display: flex; flex-direction: column; align-items: stretch; justify-content: space-between; width: $burger_width; height: $burger_height; margin-top: 1.2rem; padding: $burger_padding;
    box-sizing: content-box; background: transparent;
	@include bp(phablet) { width: $mobile_burger_width; height: $mobile_burger_height; margin:-$mobile_burger_padding;}
	&:before,
	&-label,
	&:after { height: $burger_line_height; background-color: currentColor; border-radius: 5px;
		@include bp(phablet){ height: $mobile_burger_line_height;} 
	}
	&:before,
	&:after { content: ''; display: block; }

	&-label { font-size: 0; }
}
