nav { 
    @include bp(tablet) { display: none; }
    ul { display: flex; margin: 0; padding-inline-start: 3.2rem; margin: 0; list-style: none;
        li { font-size: 2.2rem; height: 14rem; line-height: 14rem; white-space: nowrap; letter-spacing: $header_letter_spacing;
        }
    }
    a { padding: 0 26px; }
    li {  }
}

 .nav-mobile { display: none; 
    @include bp(tablet) { display: block; }
 }