.newsletter { margin-top: -3.8rem; letter-spacing: $normal_letter_spacing; font-weight: 700; text-shadow: 0.03em 0 0; display: block;
    @include bp($from: portrait, $to: mobile-s) { margin-top: 5.8rem; flex-direction: column; text-align: center; }
    span { 
        @include bp(mobile) { display: table; width: 195px; margin: auto; }
        @include bp($from: portrait, $to: mobile-l) { width: 90%; }
    }
    button { width: 36.3rem; height: 8.1rem; margin-top: 2.5rem; font-size: 30px; border-radius: 10px; border: 3px solid #000; letter-spacing: 0.001em; background-color: transparent; color: #000; 
        &:hover { background-color: $brand_color; color: #fff; border: none; }
        @include bp(portrait) { margin-bottom: 76px; }
        @include bp($from: phablet, $to: mobile-s) { width: 100%; margin-bottom: 75px; font-size: 24px; }
    }
}