footer { min-height: 30.2rem; background-color: #f0f0f0;
    .wrapper { 
        @include bp($from: portrait, $to: mobile-s) { padding-right: 45px; padding-left: 45px;}
    }
    .logo-2 { margin-top: -.5rem;}
    article { display: flex; width: 100%; padding-top: 11.5rem;
        .brand { flex: 1 0 30%; 
            @include bp($from: tablet, $to: portrait) {margin: auto; }
        }
        .social-media { flex: 1 0 40%;
            @include bp($from: tablet, $to: mobile-s) { text-align: center; }
         }
        .newsletter { flex: 1 0 28%; }
        @include bp($from: portrait, $to: mobile-s) { padding-top: 60px; flex-direction: column;  }
    }

}