header { width: 100%; height: 14rem; display: flex; justify-content: center;
    @include bp(phablet) { height: 12rem; }
    img { height: 14rem; /* <- height of header*/ width: 19.6rem;
        @include bp(phablet) { width: 100vw; } 
    }
}